body{
	margin:0 10% 10% 10%;
	text-align: center;
}
nav a{
	text-decoration: none;
	color:white;
	margin:2%;
}
a:hover{
	color:orange;
}
.navBar{
	background-color:#004d80;
	font-size:20px;
	padding: 1%;
	text-align: right;
}
.pollList{
	margin:5%;	
	text-align:center;
}
.polls{
	padding:1%;
	margin-bottom:1%;
	border-style: solid;
	border-color: black;
}
.reglog{
	display:flex;
	text-align: center;
	margin-top:3%;
}
.reglogChild{
	flex:1;
	border-style: solid;
	border-color: black;
	padding:2%;
}

input{
	padding:1%;
	margin:1%;
}
.buttons{
	background-color:#004d80;
	color:white;
	padding:1.5%;
	border:none;
}
.createPoll{
	margin:5%;
}
.pollTitle{
	width:500px;
}
textarea{
	padding:1%;
	margin:1%;
	height:100px;
	width:500px;
	resize:none;
}
.chartDiv{
	display:flex;
}
.buttonGroup{
	float:right;
}
.vote{
	color:green;
	width:150px;
	padding: 5px;
	text-align:left;
}
.delete{
	background-color:#330000;
	color:white;
	border:none;
	padding:5%;
}
.deleteSpan{
	float:left;
}